{% extends 'base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}


{% block body_block %}

  <div class="w3-card-4">
  <div class="w3-container">
    <h3><span style="color:#52af50;">Add New Todo</span></h3>
  </div>
  <form class="w3-container" method="post">
    {% csrf_token %}

    <p>
    <label class="w3-text-brown"><b>Todo Title: </b></label>
    {% render_field form1.title class="form-control w3-input w3-border w3-light-grey" placeholder="" %}</p>
    <p>
    <label class="w3-text-brown"><b>Scheduled Time: </b></label>
      {% render_field form1.scheduled_time id="datetimepicker1" class="form-control w3-input w3-border w3-light-grey" placeholder="" %}</p>
    <p>
    <input class="w3-btn w3-green" type="submit" value="Add Todo"></p>
  </form>
</div>



<!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script>
 $( function() {
   $( "#datepicker" ).datepicker({
   dateFormat: "yy-mm-dd"
 });

 } );
 </script> -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>


 <script>
   $(function () {
     $('#datetimepicker1').datetimepicker({
         format:'Y-m-d h:m:s'
     });
  });
 </script>


<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
{% endblock %}
