{% extends 'base.html' %}
{% load widget_tweaks %}

{% load staticfiles %}

{% block body_block %}

<div class="w3-card-4">
<div class="w3-container">
  <h3><span style="color:#52af50;">Edit Todo</span></h3>
</div>
<form class="w3-container" method="post">
  {% csrf_token %}

  <p>
  <label class="w3-text-brown"><b>Todo Title: </b></label>
  {% render_field form.title class="form-control w3-input w3-border w3-light-grey" value=data.title  %}</p>
  <p>
  <label class="w3-text-brown"><b>Scheduled Time: </b></label>
  {% render_field form.scheduled_time class="form-control w3-input w3-border w3-light-grey" id="datetimepicker1" value=data.scheduled_time %}</p>
  <p>
  <input class="w3-btn w3-green" type="submit" value="Edit Todo"></p>
</form>
</div>


<!---------------------------------------->


<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>


 <script>
   $(function () {
     $('#datetimepicker1').datetimepicker({
         format:'Y-m-d h:m:s'
     });
  });
 </script>

{% endblock %}
